/* ----- FONT IMPORT----- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* -------------------
--------ALL DOC--------
------------------- */

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

/* -------------------
--------HEADER--------
------------------- */
header {
  border-bottom: 1px solid #e5e5e5;
}
.header {
  display: flex;
  gap: 65px;
  align-items: center;
  margin: 60px 111px;
  /* padding-bottom: 60px; */
}

header > img {
  height: 80px;
}

/* -------------------
--------MAIN--------
------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 77px;
  padding: 100px 0;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.commandBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
}
.hide {
  display: none;
}

.value {
  background-color: #5c48d3;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  height: 150px;
  width: 150px;
  font-size: 96px;
  color: white;
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: #5c48d3;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  color: white;
  padding: 10px 25px;
  border-style: none;
  border-radius: 15px;
}

/* -------------------
--------FOOTER--------
------------------- */

footer {
  text-align: center;
  font-size: 15px;
}
.bold {
  font-weight: bold;
}
